%nav.navbar.navbar-top.navbar-light.bg-faded
  %ul.nav.nav-pills.float-md-left
    %li.nav-item
      = link_to root_path, class: 'nav-link text-primary' do
        %span.mdi.mdi-book-open-page-variant
        = t('.brand')
  %ul.nav.nav-pills.float-md-right
    %li.nav-item
      = link_to articles_path, class: 'nav-link' do
        %span.mdi.mdi-cards
        = t('.articles')
    %li.nav-item
      = link_to videos_path, class: 'nav-link' do
        %span.mdi.mdi-video
        = t('.videos')
    %li.nav-item
      - if I18n.locale == :en
        = link_to content_tag(:span, '', class:'mdi mdi-translate') + ' 日本語', current_path_new_locale('ja'.to_sym), class: 'nav-link'
      - else
        = link_to content_tag(:span, '', class:'mdi mdi-translate') + ' English', current_path_new_locale('en'.to_sym), class: 'nav-link'
