.row
  .col-sm-12
    %h1= t('.title')
    %p A collaboration between the first foreigner in Japan to ever get the Kanji Kentei 1 Certification, Bret Mayer (aka BuSensei) & former TNW Head of Design Pascal Pixel of Superpencil design and development agency.
.row
  .col-md-6
    .row
      .col-xs-3
        .card.portrait= image_tag 'bret.gif', class: 'img-full', alt: 'Bret Mayer'
      .col-xs-9
        %ul.list-unstyled
          %li
            %span.tag.tag-default= t('.headers.name')
            = t('.bret.name')
          %li
            %span.tag.tag-default= t('.headers.nicknames')
            = t('.bret.nicknames')
          %li
            %span.tag.tag-default= t('.headers.age')
            = t('.bret.age')
          %li
            %span.tag.tag-default= t('.headers.nationality')
            = t('.bret.nationality')
          %li
            %span.tag.tag-default= t('.headers.hobbies')
            = t('.bret.hobbies')
          %li
            %span.tag.tag-default
              Twitter
            @busensei
          %li
            %span.tag.tag-default
              Facebook
            \/Bret_Mayer
          %li
            %span.tag.tag-default
              LINE
            busensei
          %li
            %span.tag.tag-default
              Email
            busensei(at)gmail(dot)com
          %li
            %span.tag.tag-default
              Achievements & Certifications
            %ul.list-unstyled
              %li Certified Kanji Instructor (漢字教育士) (Japan Kanji Aptitude Testing Foundation, Ritsumeikan University)
              %li Shirakawa Shizuka Award for Excellence in Kanji Education
              %li Japan Kanji Aptitude Test Level 1
          %li
            %span.tag.tag-default
              Appeared on TV & Radio
            %ul.list-unstyled
              %li 日本テレビ『１億人の大質問⁉笑ってコラえて！』
              %li BS JAPAN『ワタシが日本に住む理由』
              %li NHK WORLD
              %li 静岡朝日テレビ『とびっきり！静岡』
              %li テレビ東京『L4YOUプラス』
              %li ＴＯＫＹＯ　ＭＸ『東京号泣教室』
              %li 大阪ほんわかテレビ
              %li ＴＢＳテレビ『アメージパング』
              %li 静岡だいいちテレビ『〇ごとワイド』
              %li テレビ静岡『てっぺん静岡』
              %li テレビ静岡『スーパーニュース』
              %li NHK静岡『たっぷり静岡』
              %li K-MIX静岡ＦＭ『モーニングラジラ』
          %li
            %span.tag.tag-default Appeared in Publications
            %ul.list-unstyled
              %li Cool Japan and the World: Reading Newspapers Today - 英字紙で読む日本と世界
              %li Highlighting Japan
              %li The Japan News
              %li Tra-maga Fellow Academy - トラマガ記事フェローアカデミー
              %li womo静岡
              %li womo浜松
              %li 漢検生涯学習ネットワーク会員通信
              %li 静岡新聞
              %li 趣味の文具箱
              %li 中日新聞
              %li 日経新聞
              %li 浜松経済新聞
              %li 読売新聞
  .col-md-6
    .row
      .col-xs-3
        .card.portrait= image_tag 'pascal.gif', class: 'img-full', alt: 'Pascal Pixel'
      .col-xs-9
        %ul.list-unstyled
          %li
            %span.tag.tag-default= t('.headers.name')
            = t('.bret.name')
          %li
            %span.tag.tag-default= t('.headers.nicknames')
            = t('.pascal.nicknames')
          %li
            %span.tag.tag-default= t('.headers.age')
            = t('.pascal.age')
          %li
            %span.tag.tag-default= t('.headers.nationality')
            = t('.pascal.nationality')
          %li
            %span.tag.tag-default= t('.headers.hobbies')
            = t('.pascal.hobbies')
          %li
            %span.tag.tag-default
              Twitter
            @pascalpixel
          %li
            %span.tag.tag-default
              Email
            pascal(at)superpencil(dot)com
          %li
            %span.tag.tag-default
              Website
            pascalpixel.com
