.row
  .col-md-4
    .card.bg-primary
      .card-block
        %h1 ぶ先生
        %h5= simple_format t('.header')
        %p= simple_format t('.sub_header')
    .card
      .card-block
        %h5.card-title
          %span.mdi.mdi-video
          = t('.latest_video')
        - @videos.each do |video|
          = link_to video do
            .embed-responsive.embed-responsive-16by9
              %iframe{allowfullscreen: "", src: "https://www.youtube.com/embed/#{video.tag}", class: 'embed-responsive-item'}
    .card
      .card-block
        %h5.card-title
          %span.mdi.mdi-cards
          = t('.latest_article')
        - @articles.each do |article|
          = link_to article do
            = image_tag article.image.url(:medium), class: 'img-fluid rounded'
            %p= simple_format article.blurb
  .col-md-8
    .clearfix.mt-1.mb-1
      %h4.float-xs-left
        %span.mdi.mdi-dictionary
        = t('actions.vocabulary')
      = link_to t('actions.more') + ' ' + t('actions.vocabulary'), vocabulary_path, class: 'btn btn-secondary float-xs-right'
    - @vocabulary.each_slice(2) do |row|
      .row
        - row.each do |item|
          .col-lg-6
            = render partial: 'shared/card', locals: { item: item }
    .clearfix.mt-1.mb-1
      %h4.float-xs-left
        %span.mdi.mdi-duck
        = t('actions.proverbs')
      = link_to t('actions.more') + ' ' + t('actions.proverbs'), proverbs_path, class: 'btn btn-secondary float-xs-right'
    - @proverbs.each_slice(2) do |row|
      .row
        - row.each do |item|
          .col-lg-6
            = render partial: 'shared/card', locals: { item: item }
    .clearfix.mt-1.mb-1
      %h4.float-xs-left
        %span.mdi.mdi-cat
        = t('actions.idioms')
      = link_to t('actions.more') + ' ' + t('actions.idioms'), idioms_path, class: 'btn btn-secondary float-xs-right'
    - @idioms.each_slice(2) do |row|
      .row
        - row.each do |item|
          .col-lg-6
            = render partial: 'shared/card', locals: { item: item }
    .clearfix.mt-1.mb-1
      %h4.float-xs-left
        %span.mdi.mdi-shuffle
        = t('actions.ateji')
      = link_to t('actions.more') + ' ' + t('actions.ateji'), ateji_path, class: 'btn btn-secondary float-xs-right'
    - @ateji.each_slice(2) do |row|
      .row
        - row.each do |item|
          .col-lg-6
            = render partial: 'shared/card', locals: { item: item }
