.card.bg-primary.mb-2
  .card-block
    .row
      .col-sm-4
        %h1
          ぶ先生
        %p
          %span.mdi.mdi-book-open-page-variant
          = t('shared.navbar.study_materials')
          %br
          %span.mdi{class: "mdi-#{icon}"}
          = title
      .col-sm-8
        %h1 &nbsp;
        %p= intro
        - if user_signed_in?
          = link_to 'New Item',
                    new_item_path,
                    class: 'btn btn-success'
= paginate items, theme: 'twitter-bootstrap-4'
.row#masonry
  - items.each_slice(4) do |four|
    .clearfix
    - four.each_slice(2) do |two|
      .clearfix.hidden-xl-up
      - two.each do |item|
        .col-xl-3.col-sm-6
          = render partial: 'shared/card',
                   locals: { item: item }
= paginate items, theme: 'twitter-bootstrap-4'
